<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link rel="stylesheet" href="./styles/css/font-awesome.min.css">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Island</title>
    <style>
        @import url('./styles/portrait-media.css');
        @import url('./styles/landscape-media.css');
    </style>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id='wrapper'>
        <header>
            <div class='content'>
                <a @click='hiding()' id='menu' href='javascript: void(0);'>
                    <i class="fa fa-bars" aria-hidden="true"></i>
                    Menu
                </a>
            </div>
        </header>
        <main>
            <div class='content'>
                <div :class='{ hide: hide }' class='menu-content'>
                    <div class='inner-header'>
                        <a @click='hiding' href="javascript: void(0);">
                            <i class="fa fa-window-close" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class='inner'>
                        <label for="size">Size:</label>
                        <input @change='changingSize' placeholder="1-10" min='1' max='9' type="number" id='size' :value='size'>
                        <div class='controls'>
                            <button a @click='randomSelection(); hiding(); countIslands();' id='random'>Random</button>
                            <button a @click='saveSettings(); hiding(); countIslands();' id='restart'>Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <main class='game'>
            <div class='content'>
                <p class='dimension'>{{ sizeBefore }}x{{ sizeBefore }}</p>
            </div>
        </main>
        <main>
            <div class='content'>
                <div id ="blocks">
                    <div class="line" v-for="(line,index) in lines">
                        <div  class="block" @click="changeMaterial"   v-for="(block,ind) in line" 
                              :class='{ sand: block, water: !block }'
                              :style="{ height: height }">
                              <p class='inner-text'>{{ index+1 }}.{{ ind+1 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <main>
            <div class='content'>
                <p id='islands'>Islands: {{ islands }}</p>
            </div>
        </main>
    </div>
    <script src="vue.js"></script>
</body>
</html>